.container{
    width: 100vw;
}


.sidebar{
    width: 20%;
}





#board{
    background-color: #f4f4f4;
}

table, tbody, tr, th, td{
    font-size: 1.2rem !important;
    background-color: rgba(0, 0, 0, 0.0) !important;

}

.tasks{
    margin-left: 65px !important;
    width: auto ;
    overflow: scroll;
    overflow-x: hidden;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    text-align: center;
    accent-color: blue;
  }


  .project-title{
    font-size: 90px;
    margin: 65px;
    margin-top: 26px;
    margin-bottom: 10px;
  }


.w-90{
    width: 90%;
}


.title-bg-color{
    background-color: #000000;
}
